@page
@model AspNetCore_RazorPages_EFCodeFirst.Pages.Students.CreateVMModel
@{
    ViewData["Title"] = "创建";
}

<h1>创建</h1>

<h4>学生</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>
            <div class="row algin-items-center">
                <label asp-for="StudentInput.LastName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="StudentInput.LastName" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="StudentInput.LastName" class="form-text text-danger"></span>
                </div>
            </div>
            <div class="row algin-items-center">
                <label asp-for="StudentInput.FirstMidName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="StudentInput.FirstMidName" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="StudentInput.FirstMidName" class="form-text text-danger"></span>
                </div>
            </div>
            <div class="row algin-items-center">
                <label asp-for="StudentInput.EnrollmentDate" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="StudentInput.EnrollmentDate" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="StudentInput.EnrollmentDate" class="form-text text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 offset-sm-2">
                    <input type="submit" value="创建" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">返回</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
