@page
@model AspNetCore_RazorPages_EFCodeFirst.Pages.Courses.EditModel

@{
    ViewData["Title"] = "编辑";
}

<h1>编辑</h1>

<h4>课程</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Course.CourseID" />
            <div class="row align-items-center">
                <label asp-for="Course.CourseID" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="Course.CourseID" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="Course.CourseID" class="form-text text-danger"></span>
                </div>
            </div>
            <div class="row align-items-center">
                <label asp-for="Course.Title" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="Course.Title" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="Course.Title" class="form-text text-danger"></span>
                </div>
            </div>
            <div class="row align-items-center">
                <label asp-for="Course.Credits" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="Course.Credits" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="Course.Credits" class="text-danger"></span>
                </div>
            </div>
            <div class="row align-items-center">
                <label asp-for="Course.DepartmentID" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-6">
                    @*<select asp-for="Course.DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>*@
                    <select asp-for="Course.DepartmentID" class="form-control" asp-items="@Model.DepartmentNameSL"></select>
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="Course.DepartmentID" class="form-text text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 offset-sm-2">
                    <input type="submit" value="保存" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
