@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">欢迎</h1>
    <p>更多详情 <a href="https://docs.microsoft.com/aspnet/core">使用ASP.NET Core 创建应用程序</a>.</p>
</div>
